* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

header {
    height: 150px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffcd00;
    position: fixed;
    z-index: 2;
}

.logo img {
    height: 145px;
}

.centraliza-topo {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    font-size: 23px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    font-weight: 600;
    transition: 0.7s;
}

.idioma {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}

.idioma div a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.idioma div a:hover {
    font-weight: 600;
    transition: 0.7s;
}

.language-english {
    margin-right: 10px;
}

.idioma img {
    height: 30px;
}

.idioma p {
    font-size: 15px;
}

.mobile-menu {
    display: none;
}

.banner {
    background-color: #e4e4e5;
    height: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 130px;
}

.banner img {
    height: 500px;
    width: 350px;
    box-shadow: 3px 3px 10px 2px #524f4f;
}

.ceviche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.ceviche-description {
    display: flex;
}

.banner p {
    height: 500px;
    width: 350px;
    margin-right: 60px;
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    align-content: center;
}

.chaufa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chaufa-description {
    display: flex;
}

.banner2 {
    height: 500px;
    width: 100%;
    background-image: url("../assets/banner/machu-picchu.jpg");
    background-position: center;
    background-size: cover;
}

.banner2 p {
    margin: 0 auto;
    height: 500px;
    width: 70%;
    color: #e4e4e5;
    text-align: center;
    align-content: center;
    font-size: 25px;
}

.banner2 div {
    background-color: rgb(0, 0, 0, 0.75);
}

.ifood {
    height: 600px;
    width: 100%;
    background-color: #ffcd00;
}

.ifood-pedido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.peça-ifood {
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.peça-ifood h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.peça-ifood p {
    margin-right: 60px;
    font-size: 23px;
    font-weight: 400;
    text-align: justify;
    align-content: center;
}

.peça-ifood a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-self: center;
    background-color: #e4e4e5;
    padding: 5px;
    border: 1px solid black;
}

.peça-ifood a:hover {
    background-color: black;
    color: #ffcd00;
    border: 1px solid #e4e4e5;
    transition: 0.7s;
}

.botoes-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-right: 60px;
}

.botoes-pedido h1 {
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
}

.celular-ifood img {
    height: 400px;
    position: absolute;
    top: 1580px;
    right: 10px;
    z-index: 0;
}

.cardapio {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: #e4e4e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title, .cardapios {
    margin: 10px auto;
}

.title {
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}

.title img {
    height: 250px;
    position: absolute;
    left: 100px;
}

.title h1 {
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.cardapios {
    width: 650px;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
}

.cardapios div {
    height: 200px;
    width: 200px;
}

.cardapios div:hover {
    border: 1px solid black;
    transition: 0.7s;
}

footer {
    height: 250px;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}

.footer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {
    height: 250px;
}

.contato {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contato h2, .contato p {
    color: #e4e4e5;
}

.contato h2 {
    font-weight: 600;
    text-transform: uppercase;
}

.contato p:hover {
    font-weight: 600;
    transition: 0.7s;
}

.contato a {
    text-decoration: none;
    color: #e4e4e5;
}

.contato a:hover {
    font-weight: 600;
    transition: 0.7s;
}

.social-medias img {
    height: 40px;
}

@media screen and (max-width: 1600px){
    .banner img {
        height: 400px;
        width: 300px;
    }

    .banner p {
        height: 400px;
        width: 300px;
    }

    .ifood-pedido {
        width: 40%;
    }

    .cardapio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title, .cardapios {
        margin: 0px;
    }

    .title {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }

    .title img {
        height: 200px;
        left: 80px;
        bottom: -1280px;
    }

    .title h1 {
        height: 30px;
    }

    .cardapios {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1380px){
    .centraliza-topo {
        width: 55%;
    }
    
    .banner img {
        height: 350px;
        width: 250px;
    }

    .banner p {
        height: 350px;
        width: 250px;
        font-size: 20px;
        margin-right: 20px;
    }

    .peça-ifood h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
    }

    .peça-ifood p {
        margin-right: 0px;
        font-size: 20px;
    }

    .botoes-pedido {
        margin-right: 0px;
    }

    .celular-ifood img {
        height: 250px;
        top: 1730px;
    }

    .title img {
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .centraliza-topo {
        width: 60%;
    }
}

@media screen and (max-width: 1100px){
    .centraliza-topo {
        width: 65%;
    }
    
    .banner {
        height: 1000px;
        flex-direction: column;
    }

    .celular-ifood img {
        top: 1980px;
        height: 250px;
    }
}

@media screen and (max-width: 1050px){
    .celular-ifood img {
        height: 200px;
        top: 2030px;
    }
}

@media screen and (max-width: 1000px){
    .centraliza-topo {
        width: 70%;
    }
    
    .peça-ifood h1 {
        font-size: 22px;
    }

    .peça-ifood p {
        font-size: 18px;
    }
}

@media screen and (max-width: 950px){
    .celular-ifood img {
        height: 150px;
        top: 2080px;
    }
}

@media screen and (max-width: 920px){
    .centraliza-topo {
        width: 75%;
    }
}

@media screen and (max-width: 900px){
    .centraliza-topo {
        justify-content: space-around;
    }
    
    
    .menu {
        width: 500px;
    }

    .menu a {
        font-size: 18px;
    }

    .idioma {
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .idioma img {
        height: 20px;
    }

    .language-english {
        margin-right: 0px;
    }

    .idioma p {
        font-size: 12px;
        margin-left: 5px;
    }

    .banner2 p {
        margin: 0 auto;
        height: 500px;
        width: 60%;
        color: #e4e4e5;
        text-align: center;
        align-content: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 845px){
    .celular-ifood img {
        height: 100px;
        top: 2130px;
    }
}

@media screen and (max-width: 780px){
    .centraliza-topo {
        width: 0px;
    }
    
    .menu {
        width: 100%;
        height: calc(100%-145px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
        position: absolute;
        top: 145px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        transition: .9s;
        z-index: 2;
    }

    .menu ul {
        width: 100%;
        height: calc(100vh - 145px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        z-index: 2;
    }

    .menu a {
        border-bottom: 1px solid black;
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu img{
        height: 50px;
    }

    .idioma {
        position: absolute;
        width: 100%;
        top: 165px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        visibility: hidden;
    }

    .language-english, .language-spanish {
        border-bottom: 1px solid black;
    }

    .banner {
        height: 800px;
    }

    .banner p {
        font-size: 15px;
        height: 250px;
    }

    .banner img {
        height: 250px;
        width: 200px;
    }

    .banner2 {
        height: 400px;
    }

    .banner2 p {
        font-size: 15px;
        height: 400px;
    }

    .ifood-pedido {
        width: 100%;
    }
    
    .peça-ifood {
        width: 90%;
    }

    .peça-ifood h1 {
        font-size: 25px;
    }

    .peça-ifood p {
        font-size: 20px;
    }

    .celular-ifood img {
        height: 100px;
        top: 1830px;
    }
}

@media screen and (max-width: 745px){
    .celular-ifood img {
        height: 80px;
        top: 1850px;
    }
}

@media screen and (max-width: 680px){
    .cardapios {
        width: 500px;
    }
    
    .cardapios div {
        height: 150px;
        width: 150px;
    }

    .cardapios img {
        height: 150px;
    }

    footer {
        height: 400px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
    
    .contato {
        height: 100px;
    }
}

@media screen and (max-width: 570px){
    .banner p {
        width: 180px;
    }
    
    .ifood {
        height: 380px;
    }
    
    .peça-ifood {
        height: 100%;
    }

    .peça-ifood h1 {
        font-size: 20px;
    }

    .peça-ifood p {
        font-size: 15px;
    }

    .celular-ifood img {
        display: none;
    }
}

@media screen and (max-width: 520px){
    .banner2 div {
        padding: 10px 40px;
    }
    
    .banner2 p {
        width: 100%;
    }
    
    .cardapios {
        width: 380px;
        height: 500px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .cardapios div {
        height: 140px;
        width: 140px;
    }

    .cardapios img {
        height: 120px;
    }
}

@media screen and (max-width: 450px){
    header {
        height: 150px;
    }
    
    .logo img {
        height: 150px;
    }
    
    .banner {
        height: 600px;
    }
    
    .banner img {
        height: 180px;
        width: 130px;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner p {
        height: 180px;
        width: 160px;
        font-size: 12px;
        margin-right: 10px;
    }

    .banner2 p {
        font-size: 12px;
    }

    .peça-ifood p {
        font-size: 12px;
    }

    .cardapios {
        width: 90%;
        height: 400px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .cardapios div {
        height: 100px;
        width: 100px;
    }

    .cardapios img {
        height: 100px;
    }

    footer {
        height: 380px;
    }

    .footer-logo {
        height: 180px;
    }

    .social-medias img {
        height: 30px;
    }
}

@media screen and (max-width: 360px) {
    .banner img {
        height: 150px;
        width: 100px;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner p {
        height: 150px;
        width: 140px;
        font-size: 10px;
        margin-right: 10px;
    }

    .banner2 p {
        font-size: 10px;
    }

    .ifood {
        height: 300px;
    }

    .peça-ifood h1 {
        font-size: 15px;
    }

    .peça-ifood p {
        font-size: 10px;
    }
    
    .cardapio {
        height: 180px;
    }
    
    .cardapios {
        width: 90%;
        height: 300px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .cardapios div {
        height: 80px;
        width: 80px;
    }

    .cardapios img {
        height: 80px;
    }
}

@media screen and (max-width: 530px){ 
    .ifood {
        height: 400px;
        justify-content: space-around;
    }

    .botoes-pedido h1 {
        height: 25px;
        margin: 0px auto;
    }
    
    .botoes-pedido {
        flex-direction: column;
        justify-content: space-around;
        height: 120px;
        margin-top: 10px;
    }

    .botoes-pedido a {
        font-size: 15px;
    }
}